<?xml version="1.0" ?>

<launch>
    <node name="bag_record" pkg="rosbag" type="record" args="record -o $(env HOME)/mapping/coloradar/lidar_octomap.bag
	    /tf /tf_static /lidar_ground_truth /lidar_filtered/occupied_cells_vis_array /lidar_filtered/octomap_full /lidar_filtered/octomap_point_cloud_centers
	    /lidar_filtered/octomap_server/parameter_descriptions /lidar_filtered/octomap_server/parameter_updates /lidar_filtered/projected_map
    "/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="os1_link_joint" args="0.0 0.0 0.03618 3.14159 0 0 os1_sensor os1_lidar"/>

	<node pkg="isrr_analysis" name="odom2tf" type="odom2tf"/>
	<include file="$(find mapless-navigation)/launch/octomap_mapping.launch"/>

	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(env HOME)/mapping/coloradar/ec_hallways_run0.bag"/>

</launch>
